<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partial/admin-head', {title: "平台管理-文章編輯頁"}); %>
</head>
<body data-nodeid="<%= node._id %>" data-type="chats">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%- include('../partial/admin-nav', {active: "articles"}); %>
      </div>
      <div class="col-sm-12 col-md-9">
      <%- include('../partial/breadcrum', {items: [
          {href: "/admin",name: "管理主頁"},
          {href: "/admin/articles",name: "文章列表頁"},
          {name: "文章編輯頁"}
          ]}); %>
        <h2>文章編輯頁</h2>
        <hr/>
        
        <form id="article-node-form" method="post" action="/api/articles/<%= node._id %>">
          <div class="form-group">
            <label for="title">標題</label>
            <input name="title" type="text" class="form-control" value="<%= node.title %>" id="node-form-title" placeholder="輸入標題" />
          </div>
          <div class="form-group">
            <label for="bannerImgSrc">圖片路徑</label>
            <input name="bannerImgSrc" type="text" class="form-control" value="<%= node.bannerImgSrc %>" id="node-form-bannerImgSrc" placeholder="輸入路徑" />
          </div>
          <div class="form-group">
            <label for="tag">Tags</label>
            <div class="clearfix">
              <div class="ribo-tag-list">
                <% if (node.tags) { %>
                  <% for(var i = 0; i < node.tags.length; i++) {%>
                     <span class="badge badge-default" data-index=<%= i %>><%= node.tags[i] %><i class="fa fa-times tag-delete-icon" aria-hidden="true"></i></span>
                     <input type="hidden" name="tags[]" value="<%= node.tags[i] %>">
                  <% } %>
                <% } %>
              </div>
              <div class="input-group mt-2">
                <input name="tag" type="text" class="form-control tag-input form-input-tags" placeholder="新增Tag" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary tag-add-btn">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="content">內容</label>
            <textarea name="content" class="form-control" id="node-form-content" rows="8"><%= node.content %></textarea>
          </div>
          <div class="form-group">
            <label for="link">外部連結</label>
            <input name="link" type="text" class="form-control" value="<%= node.link %>" id="node-form-link" placeholder="輸入外部連結" />
          </div>
          <div style="text-align: right;">
            <button type="submit" data-type="article" class="btn btn-outline-primary rib-btn-save">儲存</button>
            <button type="button" data-type="article" data-id="<%= node._id %>" class="btn btn-outline-danger rib-btn-delete">刪除</button>
          </div>
          <div class="form-group">
            <label for="createdDate">創立時間</label>
            <% var d = new Date(node.createdDate);
               dFormat = d.toISOString();
               dFormat = dFormat.substring(0, dFormat.lastIndexOf('.'))
            %>
            <input name="createdDate" class="form-control" type="datetime-local" value="<%= dFormat %>" id="node-form-createdDate">
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partial/admin-script'); %>
  <script src="./../../../js/admin/tags.js"></script>
  <script src="./../../../js/admin/delete-node.js"></script>
</body>
</html>
