<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partial/admin-head', {title: "平台管理-活動新增頁"}); %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<body data-type="events">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%- include('../partial/admin-nav', {active: "events"}); %>
      </div>
      <div class="col-sm-12 col-md-9">
      <%- include('../partial/breadcrum', {items: [
          {href: "/admin",name: "管理主頁"},
          {href: "/admin/events",name: "活動列表頁"},
          {name: "活動新增頁"}
          ]}); %>
        <h2>活動新增頁</h2>
        <hr/>        
        <form id="event-node-form" method="post" action="/api/events">
          <div class="form-group">
            <label for="title">標題</label>
            <input name="title" type="text" class="form-control" id="node-form-title" placeholder="輸入標題" />
          </div>
          <div class="form-group">
            <label for="bannerImgSrc">圖片路徑</label>
            <input name="bannerImgSrc" type="text" class="form-control" id="node-form-bannerImgSrc" placeholder="輸入路徑" />
          </div>
          <div class="form-group">
            <label for="tag">Tags</label>
            <div class="clearfix">
              <div class="ribo-tag-list">
              </div>
              <div class="input-group mt-2">
                <input name="tag" type="text" class="form-control tag-input form-input-tags" placeholder="新增Tag" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary tag-add-btn">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="participant">參與對象</label>
            <div class="clearfix">
              <div class="ribo-participant-list mb-2 ribo-badge-container">
              </div>
              <input name="participant" type="text" class="form-control typeahead" id="node-form-participants" placeholder="" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="abstract">簡介</label>
            <textarea name="abstract" class="form-control" id="node-form-abstract" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="content">活動介紹</label>
            <textarea name="content" class="form-control" id="node-form-content" rows="8"></textarea>
          </div>
          <div class="form-group">
            <label for="printDate">日期</label>
            <input name="printDate" type="text" class="form-control" id="node-form-printDate" placeholder="輸入日期" />
            <input type="hidden" name="startDate" id="node-form-startDate">
            <input type="hidden" name="endDate" id="node-form-endDate">
          </div>
          <div class="form-group">
            <label for="address">地點</label>
            <input name="address" type="text" class="form-control" id="node-form-address" placeholder="輸入地點" />
          </div>
          <div style="text-align: right;">
            <button type="submit" data-type="event" class="btn btn-outline-primary rib-btn-save">新增</button>
          </div>
          <div class="form-group">
            <label for="author">創作者</label>
            <input class="form-control" id="node-form-author" type="text" value="" autocomplete="off">
            <input type="hidden" name="author">
          </div>
          <div class="form-group">
            <label for="title">創立時間</label>
            <% var d = new Date();
               dFormat = d.toISOString();
               dFormat = dFormat.substring(0, dFormat.lastIndexOf('.'));
            %>
            <input class="form-control" id="disabledInput" type="datetime-local" value="<%= dFormat %>" disabled>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partial/admin-script'); %>
  <script src="./../../../js/admin/tags.js"></script>
  <script src="./../../../js/admin/delete-node.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript">
      $(function() {

        var start = moment();
        var end = moment().add(7, 'days');
        $('#node-form-startDate').val(start);
        $('#node-form-endDate').val(end);
        console.log($('#node-form-startDate').val());
        console.log($('#node-form-endDate').val());

        var current = start.format('YYYY, M月D日') + ' - ' + end.format('M月D日');
        function cb(start, end) {
          $('#node-form-printDate').val(start.format('YYYY, M月D日') + ' - ' + end.format('M月D日'));
        }

        $('#node-form-printDate').daterangepicker({
          startDate: start,
          endDate: end
        }, cb);
        $('#node-form-printDate').on('apply.daterangepicker', function(ev, picker) {
          cb(picker.startDate, picker.endDate);
          current = picker.startDate.format('YYYY, M月D日') + ' - ' + picker.endDate.format('M月D日');
          $('#node-form-startDate').val(picker.startDate);
          console.log($('#node-form-startDate').val());
          $('#node-form-endDate').val(picker.endDate);
          console.log($('#node-form-endDate').val());
        });
        $('#node-form-printDate').on('cancel.daterangepicker', function(ev, picker) {
          //do something, like clearing an input
          $('#node-form-printDate').val(current);
        });
        $('#node-form-printDate').on('hide.daterangepicker', function(ev, picker) {
          //do something, like clearing an input
          $('#node-form-printDate').val(current);
        });

        cb(start, end);
        console.log($('#node-form-printDate').val());
      });
    </script>
    <script src="./../../../js/admin/invite-user.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
    <script src="./../../../js/admin/invite-participant.js"></script>
</body>
</html>
