<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partial/admin-head', {title: "平台管理-圈子編輯頁"}); %>
</head>
<body data-nodeid="<%= node._id %>" data-type="groups">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%- include('../partial/admin-nav', {active: "groups"}); %>
      </div>
      <div class="col-sm-12 col-md-9">
      <%- include('../partial/breadcrum', {items: [
          {href: "/admin",name: "管理主頁"},
          {href: "/admin/groups",name: "圈子列表頁"},
          {name: "圈子編輯頁"}
          ]}); %>
        <h2>圈子編輯頁</h2>
        <hr/>        
        <form id="group-node-form" method="post" action="/api/groups/<%= node._id %>">
          <div class="form-group">
            <label for="title">標題</label>
            <input name="title" type="text" class="form-control" value="<%= node.title %>" id="node-form-title" placeholder="輸入標題" />
          </div>
          <div class="form-group">
            <label for="bannerImgSrc">圖片路徑</label>
            <input name="bannerImgSrc" type="text" class="form-control" value="<%= node.bannerImgSrc %>" id="node-form-bannerImgSrc" placeholder="輸入路徑" />
          </div>
          <div class="form-group">
            <label for="tag">Tags</label>
            <div class="clearfix">
              <div class="ribo-tag-list">
                <% if (node.tags) { %>
                  <% for(var i = 0; i < node.tags.length; i++) {%>
                     <span class="badge badge-default" data-index="<%= i %>"><%= node.tags[i] %><i class="fa fa-times tag-delete-icon" aria-hidden="true"></i></span>
                     <input type="hidden" name="tags[]" value="<%= node.tags[i] %>">
                  <% } %>
                <% } %>
              </div>
              <div class="input-group mt-2">
                <input name="tag" type="text" class="form-control tag-input form-input-tags" placeholder="新增Tag" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary tag-add-btn">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="leader">新增隊長</label>
            <div class="clearfix">
              <div class="ribo-leader-list mb-2 ribo-badge-container">
                <%if (node.members.length > 0) { %>
                  <% for(var i=0; i<node.members.length; i++) {%>
                    <%if (node.members[i].isLeader) { %>
                     <span class="badge badge-default" id="<%= node.members[i].data._id %>">
                     <% if(node.members[i].data.name.length === 0||node.members[i].data.name==="undefined") { %>
                       <%= node.members[i].data.local.email %>
                     <% } else { %>
                       <%= node.members[i].data.name %>
                     <% } %>
                     <i class="fa fa-times member-delete-icon" aria-hidden="true"></i></span>
                     <input type="hidden" name="leaders[]" value="<%= node.members[i].data._id %>">
                    <% } %>
                  <% } %>
                <% } %>
              </div>
              <input name="leader" type="text" class="form-control typeahead" id="node-form-leaders" placeholder="新增隊長" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="member">邀請成員</label>
            <div class="clearfix">
              <div class="ribo-member-list mb-2 ribo-badge-container">
                <%if (node.members.length > 0) { %>
                  <% for(var i=0; i<node.members.length; i++) {%>
                    <%if (!node.members[i].isLeader) { %>
                     <span class="badge badge-default" id="<%= node.members[i].data._id %>">
                     <% if(node.members[i].data.name.length === 0||node.members[i].data.name==="undefined") { %>
                       <%= node.members[i].data.local.email %>
                     <% } else { %>
                       <%= node.members[i].data.name %>
                     <% } %>
                     <i class="fa fa-times member-delete-icon" aria-hidden="true"></i></span>
                     <input type="hidden" name="members[]" value="<%= node.members[i].data._id %>">
                    <% } %>
                  <% } %>
                <% } %>
              </div>
              <input name="member" type="text" class="form-control typeahead" id="node-form-members" placeholder="新增成員" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="abstract">簡介</label>
            <textarea name="abstract" class="form-control" id="node-form-abstract" rows="3"><%= node.abstract %></textarea>
          </div>
          <div class="form-group">
            <label for="content">詳細介紹</label>
            <textarea name="content" class="form-control" id="node-form-content" rows="8"><%= node.content %></textarea>
          </div>
          <div style="text-align: right;">
            <button type="submit" data-type="group" class="btn btn-outline-primary rib-btn-save">儲存</button>
            <button type="button" data-type="chatroom" data-id="<%= node._id %>" class="btn btn-outline-danger rib-btn-delete">刪除</button>
          </div>
          <div class="form-group">
            <label for="author">創作者</label>
            <% var authorString = "";
               var author_id = ""
               if(node.author){
                 author_id = node.author._id;
                 authorString = node.author.name+" - "+node.author.local.email;
               }
             %>
            <input class="form-control" id="node-form-author" type="text" value="<%= authorString %>" autocomplete="off">
            <input type="hidden" name="author" value="<%= author_id %>">
          </div>
          <div class="form-group">
            <label for="createdDate">創立時間</label>
            <% var d = new Date(node.createdDate);
               dFormat = d.toISOString();
               dFormat = dFormat.substring(0, dFormat.lastIndexOf('.'))
            %>
            <input name="createdDate" class="form-control" type="datetime-local" value="<%= dFormat %>" id="node-form-createdDate">
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partial/admin-script'); %>
  <script src="./../../../js/admin/tags.js"></script>
  <script src="./../../../js/admin/delete-node.js"></script>
  <script src="./../../../js/admin/invite-user.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
</body>
</html>
