<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <%- include('../partial/header', {title: "9EMBA-探索"}); %>
</head>
<body class="explore-list-page">
    <div class="main-wrapper mb-5 rib explore">
      <nav class="navbar navbar-light bg-faded fixed-top">
      <form class="form-inline">
        <div class="input-group w-100 px-2">
          <span class="input-group-addon" id="basic-addon1" >
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <input type="text" class="form-control" id="explore-bar" placeholder="今天想看什麼呢?" aria-describedby="basic-addon1">
        </div>
        </form>
      </nav>
      <div class="container mt-5">
        <div class="row">
          <div class="list-group">
          <% if(tags.length > 10) { %>
            <% for(var i=0; i<10; i++) {%>
              <a href="explore/<%= tags[i].name %>" class="list-group-item list-group-item-action pt-3 pb-3 justify-content-between">
               <span class="rib-text-color-1 rib-f-size-1rem">#<%= tags[i].name %></span>
               <span class="rib-text-color-2 rib-f-size-dot8rem"><%= tags[i].count %>則內容</span>
             </a>
            <% } %>
          <% } else { %>
            <% for(var i=0; i< tags.length; i++) {%>
              <a href="explore/<%= tags[i].name %>" class="list-group-item list-group-item-action pt-3 pb-3 justify-content-between">
               <span class="rib-text-color-1 rib-f-size-1rem">#<%= tags[i].name %></span>
               <span class="rib-text-color-2 rib-f-size-dot8rem"><%= tags[i].count %>則內容</span>
              </a>
            <% } %>
          <% } %>
          </div>
          <div class="col-12">
            <div class="row">
              <label class="col-12 rib-f-size-dot8rem rib-text-color-3 mb-2 mt-5">APP推薦</label>
              <div class="col-12">
              <div class="card rib-bg-card rounded">
                <div class="card-block">
                  <div class="mx-auto mb-3" style="width: 100px;">
                    <img style="height: 100px; width: 100px;" src="https://lh3.googleusercontent.com/i_KEGjIAYqatVluupykgNlrJMbUFiDh5ADQFO1b2ANolZYa5huKc3PGBUcduUZxTC7D6=w300">
                  </div>
                  <h5 class="text-center mb-3 px-3">LINE Camera－照片編輯、動態貼圖、濾鏡</h5>
                  <p class="rib-f-size-dot8rem rib-text-color-3">【LINE Camera的特色】●「美容」功能：操作簡單、效果自然透過自動修飾或幾項簡單的操作步驟，就能讓您的照片更可愛喔～●免費素材持續增加！包含LINE人氣貼圖在內的1000多種貼圖、100種以上的相框、超過100種的豐富字型，全都可供您免費使用！</p>
                  <div class="mx-auto" style="width: 150px;">
                    <a href="/explore/app" role="button" class="btn btn-collection btn-lg" >更多資訊</a>
                  </div>
                </div>
                <label class="rib-f-size-dot8rem rib-text-color-3 pl-2 mb-3 mt-4">其他相關APP</label>      
                <div class="row px-3">
                <div class="col-6 col-md-4 pl-2">
                  <div class="media">
                    <img class="d-flex rounded mr-2" style="height: 40px; width: 40px;" src="https://lh3.googleusercontent.com/gwEYv3kdkfiSqUuSBWdNb6GoeEU4sMnpvrtG7TjxVq9iUoSIvcwDrkOjE5xmL_o7zc8=w300-rw" alt="Generic placeholder image" />
                    <div class="media-body">
                      <h6>B612 - 自拍神器，捕捉妳的美</h6>
                      <p class="rib-f-size-dot8rem rib-text-color-3">Photography</p>
                    </div>
                  </div>
                </div>
                  <div class="col-6 col-md-4 pl-2">
                  <div class="media">
                    <img class="d-flex rounded mr-2" style="height: 40px; width: 40px;" src="https://lh3.googleusercontent.com/C0S37Dihj5_9HLsH1ZF_jqbB2sRuAUpwLcGuDSp6tfS7OFlsoNwPFJB2lKJXUHZU3w=w300-rw" alt="Generic placeholder image" />
                    <div class="media-body">
                      <h6>Candy Camera 糖果相機 - 自拍</h6>
                      <p class="rib-f-size-dot8rem rib-text-color-3">Photography</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4 pl-2">
                  <div class="media">
                    <img class="d-flex rounded mr-2" style="height: 40px; width: 40px;" src="https://lh3.googleusercontent.com/JUJtpYKTqy_wwjjbBpndIoPooQWRUcICrD8VAzmzzIDb_PTKNdsvIDKjFxl7mRq6bA=w300-rw" alt="Generic placeholder image" />
                    <div class="media-body">
                      <h6>愛自拍</h6>
                      <p class="rib-f-size-dot8rem rib-text-color-3">Photography</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4 pl-2">
                  <div class="media">
                    <img class="d-flex rounded mr-2" style="height: 40px; width: 40px;" src="https://lh3.googleusercontent.com/mE_VJGcLHBNu9sgr4choAJf91jnL78uD7u_4ITQIBoGOEu9NbO_zcpGQDOK4uJk2gQ4R=w300-rw" alt="Generic placeholder image" />
                    <div class="media-body">
                      <h6>Retrica</h6>
                      <p class="rib-f-size-dot8rem rib-text-color-3">Photography</p>
                    </div>
                  </div>
                </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partial/footer', {active: "explore"}); %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
    <script src="./../../../js/front/tags.js"></script>
</body>
</html>
